In [1]:
import sqlalchemy
import pandas as pd

engine = sqlalchemy.create_engine("postgresql+psycopg2://"
                                  + "operations:"
                                  + "operations@db-ops.gladius.corp/"
                                  + "operations")

df = pd.read_sql_table('clearer_cash', engine)
pd.options.display.float_format = '{:,.2f}'.format


df.loc[df['clearer_date'] == '2018-06-01']

,fund,account_num,account_bal,currency,cash_margin,cash_equity,clearer_date
3842,Alva,35U10L78,"5,275,390.00",USD,"5,275,390.00","5,275,390.00",2018-06-01
3843,Alva,35U10L78,0.00,EUR,"-2,002,790.00",0.00,2018-06-01
3844,Alva,35U10L78,"5,275,390.00",USD*,"2,937,930.00","5,275,390.00",2018-06-01
3845,Acon,35U21L75,"196,105.00",GBP,"196,105.00","196,105.00",2018-06-01
3846,Acon,35U21L75,"13,855,500.00",JPY,"-101,194,000.00","13,855,500.00",2018-06-01
3847,Acon,35U21L75,"1,687.57",CHF,"-19,505,200.00","1,687.57",2018-06-01
3848,Acon,35U21L75,"30,216,800.00",USD,"30,216,800.00","30,216,800.00",2018-06-01
3849,Acon,35U21L75,"746,937.00",EUR,"-3,962,520.00","746,937.00",2018-06-01
3850,Acon,35U21L75,"31,478,500.00",USD*,"5,094,940.00","31,478,500.00",2018-06-01
3851,Alva,6C012L78,0.00,USD,0.00,0.00,2018-06-01
3852,Alva,6C012L78,0.00,EUR,0.00,0.00,2018-06-01
3853,Alva,6C012L78,"2,113,540.00",USD,"1,265,650.00","1,906,290.00",2018-06-01
3854,Alva,6C012L78,"2,113,540.00",USD*,"1,265,650.00","1,906,290.00",2018-06-01
3855,Arx,6C020L47,0.00,GBP,0.00,0.00,2018-06-01
3856,Arx,6C020L47,"-136,219.00",USD,"-136,219.00","-136,219.00",2018-06-01
3857,Arx,6C020L47,"117,304.00",EUR,"117,304.00","117,304.00",2018-06-01
3858,Arx,6C020L47,"17,034,500.00",USD,"8,547,950.00","17,311,900.00",2018-06-01
3859,Arx,6C020L47,"17,035,200.00",USD*,"8,548,640.00","17,312,600.00",2018-06-01
3860,Acon,6C026L30,"1,922,670.00",AUD,"1,684,020.00","1,935,620.00",2018-06-01
3861,Acon,6C026L30,"3,003,040.00",GBP,"3,237,070.00","3,541,100.00",2018-06-01
3862,Acon,6C026L30,"90,334,600.00",JPY,"138,960,000.00","187,470,000.00",2018-06-01
3863,Acon,6C026L30,"-14,058,100.00",USD,"-14,058,100.00","-14,058,100.00",2018-06-01
3864,Acon,6C026L30,"13,643,400.00",EUR,"5,711,410.00","16,569,700.00",2018-06-01
3865,Acon,6C026L30,"47,652,300.00",USD,"33,171,300.00","41,016,400.00",2018-06-01
3866,Acon,6C026L30,"55,795,800.00",USD*,"32,635,400.00","54,194,400.00",2018-06-01
3867,Acon,05A895399,"4,724,940.00",AUD,"2,544,840.00","4,843,240.00",2018-06-01
3868,Acon,05A895399,"5,264,330.00",GBP,"7,375,380.00","10,117,800.00",2018-06-01
3869,Acon,05A895399,"714,730,000.00",JPY,"1,151,730,000.00","1,587,690,000.00",2018-06-01
3870,Acon,05A895399,"67,355.40",USD,"67,355.40","67,355.40",2018-06-01
3871,Acon,05A895399,"17,216,500.00",USD*,"31,790,600.00","31,790,600.00",2018-06-01
3872,Acon,052895398,"33,769,600.00",USD,"19,040,600.00","19,040,600.00",2018-06-01
3873,Acon,052895398,"33,769,600.00",USD*,"19,040,600.00","19,040,600.00",2018-06-01
3874,Valhalla,052BACNT8,"2,940,590.00",USD,"2,664,290.00","2,834,790.00",2018-06-01
3875,Valhalla,052BACNT8,"2,940,590.00",USD*,"2,664,290.00","2,834,790.00",2018-06-01
3876,Valhalla,052BACNU5,"4,237,370.00",USD,"3,848,720.00","4,089,070.00",2018-06-01
3877,Valhalla,052BACNU5,"4,237,370.00",USD*,"3,848,720.00","4,089,070.00",2018-06-01
3878,Acon,038CDEDX0,78.77,GBP,0.00,0.00,2018-06-01
3879,Acon,038CDEDX0,"15,125.00",JPY,0.00,0.00,2018-06-01
3880,Acon,038CDEDX0,"424,025.00",USD,0.00,0.00,2018-06-01
3881,Acon,038CDEE68,"133,166.00",GBP,0.00,0.00,2018-06-01
3882,Acon,038CDEE68,"55,421,500.00",JPY,0.00,0.00,2018-06-01
3883,Acon,038CDEE68,"129,385,000.00",USD,0.00,0.00,2018-06-01
3884,Acon,038CDEE76,"-36,945,100.00",USD,0.00,0.00,2018-06-01
3885,Acon,038CDEE50,"1,167.43",AUD,0.00,0.00,2018-06-01
3886,Acon,038CDEE50,"60,045,600.00",JPY,0.00,0.00,2018-06-01
3887,Acon,038CDEE50,"-89,051,800.00",USD,0.00,0.00,2018-06-01
3888,Valhalla,038CDGK58,"323,354.00",USD,0.00,0.00,2018-06-01
3889,Valhalla,038CDGK66,"660,074.00",USD,0.00,0.00,2018-06-01
3890,Valhalla,038CDGK74,"306,353.00",USD,0.00,0.00,2018-06-01
3891,Valhalla,038CDGK82,"526,261.00",USD,0.00,0.00,2018-06-01
3892,Valhalla,038CDGYC8,0.06,EUR,0.00,0.00,2018-06-01
3893,Valhalla,038CDGYC8,8.00,JPY,0.00,0.00,2018-06-01
3894,Valhalla,038CDGYC8,0.15,USD,0.00,0.00,2018-06-01
3895,Acon,93701315,"3,654,860.00",USD,0.00,0.00,2018-06-01
3896,Acon,93702315,"7,583,300.00",USD,0.00,0.00,2018-06-01
3897,Alva,10568315,"37,746,600.00",USD,0.00,0.00,2018-06-01
3898,Alva,10568316,"6,773,860.00",USD,0.00,0.00,2018-06-01
3899,Arx,84853315,"70,349,300.00",USD,0.00,0.00,2018-06-01